
header section {
    display: flex;
}

.sidenote-left {
    color:#2de2e6;
    text-shadow: 0 0 5px #035ee8;
}

.sidenote-right {
    color:#2de2e6;
    text-shadow: 0 0 5px #035ee8;
}

.navigation-panel nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

@media (orientation: landscape ) {
    body {
        width: 65%;
    }
    header section {
        flex-wrap: nowrap;
    }
    .sidenote-left {
        background-color: #1a0015;
        box-shadow: 0px 0px 50px #035ee8;
        padding: 1px;
        position: absolute;
        width: 13%;
        left: 5%;
        transform:translate(-30px, -100%);
        font-size: 70%;
    }

    .sidenote-right {
        background-color: #1a0015;
        box-shadow: 0px 0px 50px #035ee8;
        padding: 1px;
        position: absolute;
        width: 13%;
        left: 82%;
        transform: translate(30px, -100%);
        font-size: 70%;
    }

    .navigation-panel nav {
        flex-wrap: nowrap;
    }
}

@media (orientation: portrait) {
    body {
        width: 95%;
    }
    header section {
        flex-wrap: wrap;
    }

    .sidenote-left {
        display: inline;
    }

    .sidenote-right {
        block-size: fit-content;
    }
    .navigation-panel nav {
        flex-wrap: wrap;
    }
}

body {
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #d40078;
    text-shadow: 0 0 5px #a50068;
    background: url("../images/retrowave-background.jpg") no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-size: 90%;
}

main section {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 1% 1% 1% 1%;
}

footer {
    text-shadow: 0 0 5px #000000;
}

p { 
    text-indent: 30px; 
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    text-transform: uppercase;
    padding-top: 2%;
    padding-left: 2%;
}

h2 {
    text-indent: 30px; 
}

.header-content {
    display: flex;
    flex-direction: column;
}

.header-headers {
    flex-shrink: 2;
}

.header-text {
    flex-shrink: 2;
}

header section h1 {
    padding-top: 3%;
}

header section h2 {
    text-align: right;
    padding-right: 1%;
}

section {
    background-color: #000a1ac0;
    margin: 1%;
    margin-top: 3%;
    margin-bottom: 1%;
    box-shadow: 0px 0px 50px #f6019d;
}

article {
    padding: 1%;
}

.sidenote-left p {
    text-indent: 0;
    padding-left: 5%;
}

.sidenote-right p {
    text-indent: 0;
    padding-left: 5%;
}

.navigation-panel {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.navigation-panel .current-page {
    flex-grow: 2;
    background-color: #000a1a;
    box-shadow: 0px 0px 20px #00ff00;
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
}

.navigation-panel a {
    flex-grow: 2;
    background-color: #000a1a;
    box-shadow: 0px 0px 20px #035ee8;
    padding: 1% 1% 1% 1%;
    margin: 1% 1% 1% 1%;
}


header section img {
   float: left;
   margin: 3%;
   box-shadow: 0px 0px 50px #035ee8;
   align-self: center;
    flex: 0 0 auto;
}

.rasporka {
    clear: both;
}

a:link {
    color: #035ee8;
    text-shadow: 0 0 5px #a50068;
  }

a:visited {
    color: #ff00a2;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    color: #ffbf00;
    text-shadow: 0 0 5px #ffbf00;
    border: 2px solid gray; 
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    background-color: #000000;
}

code {

    color: #00FF00;
    text-shadow: 0 0 10px #00ff00;
}

footer .upButton {
    position: fixed;
    text-indent: 0px;
    bottom: 1%;
    left: 5%;
    background-color: #1a0015;
    box-shadow: 0px 0px 50px #035ee8;
    padding: 1px;
    color:#2de2e6;
    text-shadow: 0 0 5px #035ee8;
    padding: 1% 1% 1% 1%;
}
footer div {
    display: inline-block;
}

footer p a:visited {
    color: #035ee8;
    text-shadow: 0 0 5px #a50068;
}

table {
    border: 2px solid #ff00a2;
    margin-left: 4%;
    margin-right: 4%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ff00a2;
    height: 20px;
}

tr:nth-child(even) {
    background: #000a1ad3;
 }
tr:nth-child(odd) {
    background: #000a1a2d;
    color: #2de2e6;
}

button {
    font-size: 150%;
    margin-left: 5%;
    margin-bottom: 5%;
    border: 1px solid #ff00a2;
    box-shadow: 0px 0px 50px #f6019d;
    display: inline-block;
    background-color: black;
    color: #d40078;
    text-shadow: 0 0 5px #a50068;
}

.remove {
    font-size: 150%;
    width: 10%;
}

.Время {
    width: 20%;
}

input {
    display: inline-block;
    background-color: transparent;
    color: inherit;
}
td {
    padding: 0 0 0 0;
}
td input {
    width: 90%;
    border: none;
    font-size: 100%;
    padding: 0 0 0 0;
}

.Преподаватель {
    width: 40%;
}
.Аудитория {
    width: 13%;
}
.Предмет {
    width: 24%;
}

.schedule-table {
    width: 90%;
}

.loaded-content {
    border: 2px solid #ff00a2;
    width: 80%;
    align-content: center;
    margin-left: 10%;
    margin-bottom: 5%;
    position: relative;
    text-align: center; 
    box-shadow: 0px 0px 50px #f6019d;
}

.loaded-content img {
    width: 100%;
    height: 100%;
    opacity: 60%;
}

.loading-writing {
    position: absolute;
    top: 65%;
    left: 35%;
    font-size: 3.5vw;
  }

  .loaded-content article {
    border: 2px solid #ff00a2;
    margin: 3px;
    text-align: left;
  }